<section class="register_login_box"> 
        <div class="l-form">
          <div class="shope1"></div>
          <div class="shope2"></div>
          <div class="form">
            
            <form method="POST" action="/auth/login" class="form__content">
              <%- include(viewPath('layouts/error-messages')) -%>
              <h1 class="form__title">صفحه ورود</h1>
              <p>با استفاده از ایمیل و پسورد خود وارد شوید.</p>
              <div class="form__div form__div-one">
                <div class="form__icon">
                  <i class="bx bx-user-circle"></i>
                </div>
                <div class="form__div-input">
                  <label for="" class="form__label">ایمیل</label>
                  <input type="email" name="email" id="email" value="<%= old('email') %>" class="form__input">
                </div>
              </div><!--form__div-->
              <div class="form__div">
                <div class="form__icon">
                  <i class="bx bx-lock"></i>
                </div>
                <div class="form__div-input">
                  <label for="" class="form__label">پسورد</label>
                  <input type="password" name="password" id="password" value="<%= old('password') %>" class="form__input">
                </div>
              </div><!--form__div-->
              <div class="boxes">
                <input type="checkbox" name="remember" id="box-0">
                <label for="box-0">مرا به خاطر بسپار</label>
              </div>
              <div class="form-group">
                <%- recaptcha %>
              </div>
              <input type="submit" class="form__button" value="ورود">
              <input type="submit" class="form__button__google" value="ورود با اکانت گوگل">
              <a href="#" class="form__forget mb-2">فراموشی رمز عبور</a>
              <p>اولین بار است به وبسایت ما آومدید لطفا <a class="register_link" href="/auth/register/mobile">ثبت نام کنید.</a></p>
              
            </form>
            <img src="/images/icon/Authentication_Two.png" class="form__img" alt="">
          </div>
        </div><!--l-form-->
</section>
