    <div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
        <h2>ایجاد محتوای درباره ما</h2>
    </div>
    <form class="form-horizontal" action="/admin/about_us/create" method="post">

        <%- include(viewPath('layouts/error-messages')) -%>

        <div class="form-group row">
            <div class="col">
                <label for="title" class="control-label font-weight-bold">عنوان درباره ما</label>
                <input type="text" class="form-control" name="title" value="<%= old('title') %>" id="title">
            </div>
        </div>
        
        <div class="form-group row">
                <div class="col">
                    <label for="body" class="control-label font-weight-bold">متن درباره ما</label>
                    <textarea rows="10" class="form-control" name="body" id="body" placeholder="متن مقاله را وارد کنید">
                      <%= old('body') %>
                    </textarea>
                </div>
              </div>
        
        <div class="form-group row">
                <div class="col">
                    <button type="submit" class="btn btn-danger">ارسال</button>
                </div>
            </div>
    </form>

    <link rel="stylesheet" href="/css/component-chosen.min.css">
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>
    <script>
        CKEDITOR.replace('body', {
            filebrowserUploadUrl : '/admin/upload-image'
        });
        
    </script>
       