    <div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
        <h2>ایجاد کارایی محصول</h2>
    </div>
    <form class="form-horizontal" action="/admin/performances/create" method="post">

        <%- include(viewPath('layouts/error-messages')) -%>

        <div class="form-group row">
            <div class="col">
                <label for="name" class="control-label font-weight-bold">نام کارایی محصول</label>
                <input type="text" class="form-control" name="name" value="<%= old('name') %>" id="name">
            </div>
        </div>
    <div class="form-group row">
        
    </div>
        
        <div class="form-group row">
                <div class="col">
                    <button type="submit" class="btn btn-danger">ارسال</button>
                </div>
            </div>
    </form>
       