<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
    <h2>مشاهده محصول</h2>
</div>
<div class="table-responsive">
     <table class="table table-striped table-bordered"> 
         <thead> 
             <tr> <th>نام محصول</th> </tr>
        </thead> 
        <tbody> <% var text=payment.products %> <% var obg=JSON.stringify(text); %> 
            <tr> 
                <td><%= obg %></td>
            </tr>
        </tbody> 
    </table> 
</div>