<section class="products_category mb-4 mt-5">
    <div class="sidebar_product">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-3">
          <div class="sidebar_box">
            <h5>دسته بندی ها</h5>
            <div class="line-shope"></div>
            <ul class="list-unstyled components mb-3 mt-3">
              <li class="active">
              <a href="#Submenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">آرایش صورت</a>
              <ul class="list-unstyled collapse" id="Submenu1">
              <li>
              <a href="#">کرم پودر</a>
              </li>
              <li>
              <a href="#">پرایمر صورت</a>
              </li>
              <li>
              <a href="#">کرم پودر</a>
              </li>
                <li>
                <a href="#">پرایمر صورت</a>
              </li>
              <li>
              <a href="#">کرم پودر</a>
              </li>
              <li>
                <a href="#">پرایمر صورت</a>
              </li>
              </ul>
              </li>
              <li>
                <a href="#Submenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">آرایش چشم</a>
                <ul class="list-unstyled collapse" id="Submenu2">
                <li>
                <a href="#">آرایش صورت</a>
                </li>
                <li>
                <a href="#">Home 2</a>
                </li>
                <li>
                <a href="#">Home 3</a>
                </li>
                </ul>
                </li>
              <li>
              <a href="#Submenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">آرایش لب</a>
              <ul class="collapse list-unstyled" id="Submenu3">
              <li>
              <a href="#">Page 1</a>
              </li>
              <li>
              <a href="#">Page 2</a>
              </li>
              <li>
              <a href="#">Page 3</a>
              </li>
              </ul>
              </li>
              <li>
                <a href="#Submenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">آرایش ناخن</a>
                <ul class="collapse list-unstyled" id="Submenu4">
                <li>
                <a href="#">Page 1</a>
                </li>
                <li>
                <a href="#">Page 2</a>
                </li>
                <li>
                <a href="#">Page 3</a>
                </li>
                </ul>
                </li>
                <li>
                  <a href="#Submenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">آرایش ابرو</a>
                  <ul class="collapse list-unstyled" id="Submenu5">
                  <li>
                  <a href="#">Page 1</a>
                  </li>
                  <li>
                  <a href="#">Page 2</a>
                  </li>
                  <li>
                  <a href="#">Page 3</a>
                  </li>
                  </ul>
                  </li>
              </ul>
          </div>
          <div class="sidebar_box mt-3">
            <h5>وضعیت محصول</h5>
            <div class="line-shope"></div>
            <div class="boxes mt-2">
              <input type="checkbox" id="box-2">
              <label for="box-2">موجود</label>
            </div>
          </div>
          <div class="sidebar_box mt-3">
            <h5>براساس برندها</h5>
            <div class="line-shope"></div>
                <div class="boxes2 mt-2">
                  <input type="radio" id="box-5">
                  <label for="box-5">اسپانیا</label>
                </div>
                <div class="boxes2 mt-2">
                  <input type="radio" id="box-5">
                  <label for="box-5">ایتالیا</label>
                </div>
                <div class="boxes2 mt-2">
                  <input type="radio" id="box-6">
                  <label for="box-6">آلمان</label>
                </div>
          </div>
          <div class="sidebar_box mt-3">
            <h5>کارایی محصول</h5>
            <div class="line-shope"></div>
                <div class="boxes2 mt-2">
                  <input type="radio" id="box-5">
                  <label for="box-5">ویتامینه</label>
                </div>
                <div class="boxes2 mt-2">
                  <input type="radio" id="box-5">
                  <label for="box-5">آبرسان</label>
                </div>
                <div class="boxes2 mt-2">
                  <input type="radio" id="box-6">
                  <label for="box-6">حجم دهنده</label>
                </div>
                <div class="boxes2 mt-2">
                  <input type="radio" id="box-6">
                  <label for="box-6">تقویت کننده</label>
                </div>
          </div>
          <div class="sidebar_box mt-3">
            <h5>جنسیت</h5>
            <div class="line-shope"></div>
            <div class="boxes mt-2">
              <input type="checkbox" id="box-2">
              <label for="box-2">مردانه</label>
            </div>
            <div class="boxes mt-2">
              <input type="checkbox" id="box-2">
              <label for="box-2">زنانه</label>
            </div>
          </div>
          <div class="sidebar_box mt-3">
            <h5>ویژگی</h5>
            <div class="line-shope"></div>
            <div class="boxes mt-2">
              <input type="checkbox" id="box-2">
              <label for="box-2">ضدآب</label>
            </div>
            <div class="boxes mt-2">
              <input type="checkbox" id="box-2">
              <label for="box-2">بادوام</label>
            </div>
            <div class="boxes mt-2">
              <input type="checkbox" id="box-2">
              <label for="box-2">فاقد چربی</label>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9 col-lg-9">
          <div class="product_item">
            <div class="product_item_heading">
              <div class="row">
                <div class="col-8 col-md-8">
                  <h1>محصولات آرایشی</h1>
                </div>
                <div class="col-4 col-md-4 text-left">
                  <p>تعداد محصول: <span>150</span></p>
                </div>
              </div>
              
            </div>
            <div class="product-container">
              <!--product-box-1-->
              <div class="product-box hover hover-4">
                <!--img-------->
                <div class="product-img">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/woman-applying.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>ریمیل حجم دهنده و پرپشت کننده</h2></a>
                  <span class="p-price">45,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <!--product-box-2-->
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/vector-realistic.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>دستمال مرطوب آرایشی</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <!--product-box-3-->
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/packaging-cosmetic.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>مداد چشم شمعی ویکتوریا</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <!--product-box-4-->
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                <span class="discount">
                  20%
                </span>
                <span class="heart-shop">
                  <a href="#"><i class="far fa-heart"></i></a>
                </span>
                  <img src="images/lipstick-mockup.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>رژ لب شاین دار</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <!--product-box-5-->
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/closeup-portrait.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>براش پودر ریل تکنیک</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <!--product-box-6-->
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/skin-care-products.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>پد سیلیکونی آرایشی</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <!--product-box-7-->
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/eyelashes-are.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>مژه مصنوعی پری</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <!--product-box-8-->
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                <span href="#" class="discount">
                  20%
                </span>
                <span class="heart-shop">
                  <a href="#"><i class="far fa-heart"></i></a>
                </span>
                  <img src="images/hyaluronic-acid-isolated.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>پرایمر مات کننده پوست</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
               <!--product-box-9-->
               <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                <span href="#" class="discount">
                  20%
                </span>
                <span class="heart-shop">
                  <a href="#"><i class="far fa-heart"></i></a>
                </span>
                  <img src="images/cosmetic-pencil.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>مداد تراش آرایشی</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
               <!--product-box-10-->
               <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/skin-care-moisturizing.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>محلول آرایش پاک کن</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/vector-realistic.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>دستمال مرطوب آرایشی</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/vector-realistic.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>دستمال مرطوب آرایشی</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/vector-realistic.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>دستمال مرطوب آرایشی</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/vector-realistic.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>دستمال مرطوب آرایشی</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
              <div class="product-box">
                <!--img-------->
                <div class="product-img hover hover-4">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <img src="images/vector-realistic.jpg">
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="#" class="p-name"><h2>دستمال مرطوب آرایشی</h2></a>
                  <span class="p-price">35,000 تومان</span>
                  <a href="#" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
            <nav class="pagination-container">
              <div class="pagination">
                  <a class="pagination-newer" href="#">قبلی</a>
                  <span class="pagination-inner">
                    <a href="#">1</a>
                    <a class="pagination-active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                  </span>
                  <a class="pagination-older" href="#">بعدی</a>
              </div>
          </nav>
          </div>
        </div>
      </div><!--row-->
    </div>
  </section>